
.title-background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* font-size: 50px; */
    color: #fff;
    line-height: 150px;
    text-align: center;
    background: #6699CC;
    font-weight: bold;
}
.text-background p {
    /* text-indent: 2vw; */
}
.resume-education-times, .resume-work-times{
    font-weight: bold;
}