
.title-background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* font-size: 50px; */
    color: #fff;
    line-height: 150px;
    text-align: center;
    background: brown;
}
.text-background p {
    /* text-indent: 2vw; */
}