@font-face {
  font-family: times-new-roman-bold;
  src: url("./font/times-new-roman-bold.ttf");
}
@font-face {
  font-family: times-new-roman;
  src: url("./font/times-new-roman.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'times-new-roman-bold';
}
p{
  font-family: 'times-new-roman';
}
