@font-face {
  font-family: times-new-roman-bold;
  src: url("./font/times-new-roman-bold.ttf");
}
@font-face {
  font-family: times-new-roman;
  src: url("./font/times-new-roman.ttf");
}
@font-face {
  font-family: helvetica-bold;
  src: url("./font/Helvetica-Bold.ttf");
}
@font-face {
  font-family: helvetica;
  src: url("./font/Helvetica.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica-bold';
}
p{
  font-family: 'helvetica';
}
